<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetInfo</servlet-name>
        <servlet-class>Servlet.GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegisterInfo</servlet-name>
        <servlet-class>Servlet.GetRegisterInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSender</servlet-name>
        <servlet-class>EmailSender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSenderNotification</servlet-name>
        <servlet-class>EmailSenderNotification.EmailSenderNotification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetInfo</servlet-name>
        <url-pattern>/GetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegisterInfo</servlet-name>
        <url-pattern>/GetRegisterInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSender</servlet-name>
        <url-pattern>/EmailSender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSenderNotification</servlet-name>
        <url-pattern>/EmailSenderNotification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
