<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SimpleCookie</servlet-name>
        <servlet-class>SimpleCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCookie</servlet-name>
        <servlet-class>PrintCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepeatVisitor</servlet-name>
        <servlet-class>RepeatVisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSession</servlet-name>
        <servlet-class>ShowSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckCookie</servlet-name>
        <servlet-class>LoginCheckCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCookie</servlet-name>
        <url-pattern>/SimpleCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCookie</servlet-name>
        <url-pattern>/PrintCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepeatVisitor</servlet-name>
        <url-pattern>/RepeatVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSession</servlet-name>
        <url-pattern>/ShowSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginCheckAccount</servlet-name>
        <servlet-class>LoginCheckAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckAccount</servlet-name>
        <url-pattern>/LoginCheckAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckCookie</servlet-name>
        <url-pattern>/LoginCheckCookie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
