<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>repeat</servlet-name>
        <servlet-class>repeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkloginck</servlet-name>
        <servlet-class>test.checkloginck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ex4</servlet-name>
        <servlet-class>test.ex4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>repeat</servlet-name>
        <url-pattern>/repeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkloginck</servlet-name>
        <url-pattern>/checkloginck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ex4</servlet-name>
        <url-pattern>/ex4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
